@using Falcon.Service.Common;
@using Constants;
@using Falcon.Entity.Address;

@model Falcon.Entity.Prospect.ProspectModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ============================================================== -->
<!-- wrapper  -->
<!-- ============================================================== -->

<div class="container-fluid dashboard-content ">
    <!-- ============================================================== -->
    <!-- pageheader  -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Prospect Student Details</h2>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">@Html.ActionLink("Prospect Student List", "List")</li>
                            <li class="breadcrumb-item active" aria-current="page">Prospect Student Details</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end pageheader  -->
    <!-- ============================================================== -->
    <form>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="inputEmail4">Application Number</label>
                <input type="text" class="form-control" placeholder="@Html.DisplayFor(model => model.ApplicationNumber)" disabled>
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4">Applied On</label>
                <input type="text" class="form-control" placeholder="@Html.DisplayFor(model => model.ApplicationDate)" disabled />
            </div>
            <div class="form-group col-md-2">
                <label for="inputEmail4">Admission Status</label>
                @Html.DropDownListFor(model => model.AdmissionStatusId, new SelectList(CachingService.GetCachedDataByKey(CacheKeyConstants.AdmStatusMaster), "Text", "Value"), new { @class = "form-control selectpicker", @data_size = "5", @data_flip = "false", @data_display = "static", @disabled = "disabled" })
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4">Applied For</label>
                @Html.DropDownListFor(model => model.ClassId, new SelectList(CachingService.GetCachedDataByKey(CacheKeyConstants.ClassMaster), "Text", "Value"), new { @class = "form-control selectpicker", @data_size = "5", @data_flip = "false", @data_display = "static", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="inputPassword4">Name</label>
                <input type="text" class="form-control" placeholder="@Html.DisplayFor(model => model.FullName)" disabled />
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4">DOB</label>
                <input type="text" class="form-control" placeholder="@Html.DisplayFor(model => model.DoB)" disabled />
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4">Gender</label>
                @Html.DropDownListFor(model => model.GenderId, new SelectList(CachingService.GetCachedDataByKey(CacheKeyConstants.GenderMaster), "Text", "Value"), new { @class = "form-control selectpicker", @data_size = "5", @data_flip = "false", @data_display = "static", @disabled = "disabled" })
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4">Bloodgroup</label>
                @Html.DropDownListFor(model => model.BloodGrpId, new SelectList(CachingService.GetCachedDataByKey(CacheKeyConstants.BloodGrpMaster), "Text", "Value"), new { @class = "form-control selectpicker", @data_size = "5", @data_flip = "false", @data_display = "static", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-4">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputAddress">Current Address</label>
                        <textarea type="text" class="form-control" placeholder="@Html.DisplayFor(model => model.CurrentAddress.AddressLine)" disabled></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputCity">City</label>
                        @Html.DropDownListFor(model => model.CurrentAddress.CityId, new SelectList(CachingService.GetCachedDataByKey(CacheKeyConstants.CityMaster), "Id", "Name"), new { @class = "form-control selectpicker", @data_size = "5", @data_flip = "false", @data_display = "static", @disabled = "disabled" })
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputState">State</label>
                        @Html.DropDownListFor(model => model.CurrentAddress.StateId, new SelectList(CachingService.GetCachedDataByKey(CacheKeyConstants.StateMaster), "Id", "Name"), new { @class = "form-control selectpicker", @data_size = "5", @data_flip = "false", @data_display = "static", @disabled = "disabled" })
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputState">State</label>
                        @Html.DropDownListFor(model => model.PermanentAddress.CountryId, new SelectList(CachingService.GetCachedDataByKey(CacheKeyConstants.CountryMaster), "Text", "Value"), new { @class = "form-control selectpicker", @data_size = "5", @data_flip = "false", @data_display = "static", @disabled = "disabled" })
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputZip">Pincode</label>
                        <input type="text" class="form-control" placeholder="@Html.DisplayFor(model => model.CurrentAddress.Pin)" disabled>
                    </div>
                </div>
            </div>
            <div class="">
            </div>
            @*border border-info rounded*@
            @{
                if (!(Model.PermanentAddress == null))
                {
                    <div class="form-group  col-4">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputAddress">Permanent Address</label>
                                <textarea type="text" class="form-control" placeholder="@Html.DisplayFor(model => model.PermanentAddress.AddressLine)" disabled></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="inputCity">City</label>
                                @Html.DropDownListFor(model => model.PermanentAddress.CityId, new SelectList(CachingService.GetCachedDataByKey(CacheKeyConstants.CityMaster), "Id", "Name"), new { @class = "form-control selectpicker", @data_size = "5", @data_flip = "false", @data_display = "static", @disabled = "disabled" })
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputState">State</label>
                                @Html.DropDownListFor(model => model.PermanentAddress.StateId, new SelectList(CachingService.GetCachedDataByKey(CacheKeyConstants.StateMaster), "Id", "Name"), new { @class = "form-control selectpicker", @data_size = "5", @data_flip = "false", @data_display = "static", @disabled = "disabled" })
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputState">State</label>
                                @Html.DropDownListFor(model => model.PermanentAddress.CountryId, new SelectList(CachingService.GetCachedDataByKey(CacheKeyConstants.CountryMaster), "Text", "Value"), new { @class = "form-control selectpicker", @data_size = "5", @data_flip = "false", @data_display = "static", @disabled = "disabled" })
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputZip">Pincode</label>
                                <input type="text" class="form-control" placeholder="@Html.DisplayFor(model => model.PermanentAddress.Pin)" disabled>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="inputEmail4">Aadhar Card</label>
                <input type="text" class="form-control" placeholder="@Html.DisplayFor(model => model.AadharId)" disabled>
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4">Phone</label>
                <input type="text" class="form-control" placeholder="@Html.DisplayFor(model => model.Phone)" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="inputPassword4">Email</label>
                <input type="text" class="form-control" placeholder="@Html.DisplayFor(model => model.Email)" disabled />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="inputEmail4">Religion</label>
                @Html.DropDownListFor(model => model.ReligionId, new SelectList(CachingService.GetCachedDataByKey(CacheKeyConstants.ReligionMaster), "Text", "Value"), new { @class = "form-control selectpicker", @data_size = "5", @data_flip = "false", @data_display = "static", @disabled = "disabled" })
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4">Cast</label>
                @Html.DropDownListFor(model => model.CasteId, new SelectList(CachingService.GetCachedDataByKey(CacheKeyConstants.CasteMaster), "Text", "Value"), new { @class = "form-control selectpicker", @data_size = "5", @data_flip = "false", @data_display = "static", @disabled = "disabled" })
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4">Category</label>
                @Html.DropDownListFor(model => model.CategoryId, new SelectList(CachingService.GetCachedDataByKey(CacheKeyConstants.CategoryMaster), "Text", "Value"), new { @class = "form-control selectpicker", @data_size = "5", @data_flip = "false", @data_display = "static", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="inputEmail4">Parent Name</label>
                <input type="text" class="form-control" placeholder="@Html.DisplayFor(model => model.ParentName)" disabled>
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4">Parent Phone</label>
                <input type="text" class="form-control" placeholder="@Html.DisplayFor(model => model.ParentPhone)" disabled>
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4">Parent Email</label>
                <input type="text" class="form-control" placeholder="@Html.DisplayFor(model => model.ParentEmailId)" disabled />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="inputPassword4">Parent Occupation</label>
                @Html.DropDownListFor(model => model.ParentOccupationId, new SelectList(CachingService.GetCachedDataByKey(CacheKeyConstants.OccupationMaster), "Text", "Value"), new { @class = "form-control selectpicker", @data_size = "5", @data_flip = "false", @data_display = "static", @disabled = "disabled" })
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4">RelationShip</label>
                @Html.DropDownListFor(model => model.ParentOccupationId, new SelectList(CachingService.GetCachedDataByKey(CacheKeyConstants.OccupationMaster), "Text", "Value"), new { @class = "form-control selectpicker", @data_size = "5", @data_flip = "false", @data_display = "static", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputAddress">Note</label>
                <textarea type="text" class="form-control" placeholder="@Html.DisplayFor(model => model.Notes)" disabled></textarea>
            </div>
        </div>
    </form>
    <p>
        @Html.ActionLink("Edit", "Edit", "ProspectStudent", new { id = Model.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Delete", "Delete", "ProspectStudent", new { id = Model.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Back", "List", "ProspectStudent", new { @class = "btn btn-primary" })
    </p>
</div>

<!-- ============================================================== -->
<!-- end wrapper  -->
<!-- ============================================================== -->
