

<div class="form-row">
    <div class="form-group col">
        <label class="col-form-label">Address</label>
        <textarea id="txt-Area-Details" class="form-control" rows="3"></textarea>
    </div>
</div>

<div class="form-row">
    <div class="form-group col">
        @Html.Label("Country")
        <div>
            @Html.DropDownList("Dropdown_Country", new SelectList(ViewBag.CountryMaster, "Text", "Value"), new { @class = "form-control selectpicker", @data_size = "5", @data_flip = "false", @data_display = "static", @title = "Please select country" })
        </div>
    </div>
</div>

<div class="form-row">
    <div class="form-group col">
        @Html.Label("State")
        <div>
            @Html.DropDownList("Dropdown_State", new List<SelectListItem> { new SelectListItem { Text = "--Please Select--", Value = "0" } }, new { @class = "form-control selectpicker", @data_size = "5", @data_flip = "false", @data_display = "static", @title = "Please select state", @disabled = "disabled" })
        </div>
    </div>
</div>

<div class="form-row">
    <div class="form-group col">
        @Html.Label("City")
        <div>
            @Html.DropDownList("Dropdown_City", new List<SelectListItem> { new SelectListItem { Text = "--Please Select--", Value = "0" } }, new { @class = "form-control selectpicker", @data_size = "5", @data_flip = "false", @data_display = "static", @title = "Please select city", @disabled = "disabled" })
        </div>
    </div>

</div>
<div class="form-row">
    <div class="form-group col">
        @Html.Label("City")
        <div>
            @Html.TextBox("TxtBox_Pincode", null, new { @class = "form-control ls-2", @placeholder = "", @id = "pin-mask" })
        </div>
    </div>
</div>