@using Falcon.Service.Common;
@using FalconSchool.Caching;
@using Constants;
@model Falcon.Entity.Address.AddressDetails

@{
    //Prepare States and Cities for update action
    var cities = new List<SelectListItem> { };
    if (Model != null)
    {
        cities.AddRange(new SelectList(CachingService.GetCachedDataByKey(CacheKeyConstants.CityMaster), "Id", "Name"));
    }

    var states = new List<SelectListItem> { };
    if (Model != null)
    {
        states.AddRange(new SelectList(CachingService.GetCachedDataByKey(CacheKeyConstants.StateMaster), "Id", "Name"));
    }

}

<div class="form-row">
    <div class="form-group col">
        <label class="col-form-label">Address</label>
        @Html.TextAreaFor(model => model.AddressLine, new { @class = "form-control", @rows = "3" })
    </div>
</div>
<div class="form-row">
    <div class="form-group col">
        @Html.Label("Country")
        <div>
            @{
                var controlPropertyPrefix = ViewData.TemplateInfo.HtmlFieldPrefix;
            }
            @Html.DropDownListFor(model => model.CountryId
            , new SelectList(MasterDataCache.GetCachedDataByKey(CacheKeyConstants.CountryMaster), "Text", "Value")
            , new {
                @class = "form-control selectpicker"
                    , @data_size = "5"
                    , @data_flip = "false"
                    , @data_display = "static"
                    , @title = "--Please Select--"
                    , @data_live_search = "true"
                    , @onchange = "fillStates("+"'#"+ @controlPropertyPrefix + "_CountryId" + "'" + ",'#" + @controlPropertyPrefix + "_StateId" + "'" + ");"
            }
           )
        </div>
    </div>
</div>
<div class="form-row">
    <div class="form-group col">
        @Html.Label("State")
        <div>
            @Html.DropDownListFor(model => model.StateId
           , states
           , new {
               @class = "form-control selectpicker"
               , @data_size = "5"
               , @data_flip = "false"
               , @data_display = "static"
               , @title = "--Please Select--"
               , @disabled = "disabled"
               , @data_live_search = "true"
               , @onchange = "fillCities(" + "'#" + @controlPropertyPrefix + "_StateId" + "'" + ",'#" + @controlPropertyPrefix + "_CityId" + "'" + ");"
           })
        </div>
    </div>
</div>
<div class="form-row">
    <div class="form-group col">
        @Html.Label("City")
        <div>
            @Html.DropDownListFor(model => model.CityId
           , cities
           , new {
               @class = "form-control selectpicker"
               , @data_size = "5"
               , @data_flip = "false"
               , @data_display = "static"
               , @title = "--Please Select--"
               , @disabled = "disabled"
               , @data_live_search = "true"
           })
        </div>
    </div>
</div>
<div class="form-row">
    <div class="form-group col">
        @Html.Label("Pincode")
        <div>
            @Html.TextBoxFor(model => model.Pin, null, new { @class = "form-control ls-2 pincode-mask", @placeholder = "" })
        </div>
    </div>
</div>